# KHr:
# Type=idle  ->  Start after all services have started

[Unit]
Description=fan control service

[Service]
Type=idle
ExecStart=/opt/nastia-server/sbin/fan
User=root

[Install]
WantedBy=multi-user.target

