# KHr:
# Type=idle  ->  Start after all services have started

[Unit]
Description=ups control service

[Service]
Type=idle
ExecStart=/opt/nastia-server/bin/ups
User=pi

[Install]
WantedBy=multi-user.target

